<div>
  <div class="form-group">
    <label for="firstName" class="color">First Name</label>
    <input type="text" class="form-control" [formControl]="firstName" name="firstName" id="firstName">
    <span class="error" *ngIf="(firstName.dirty || firstName.touched) && firstName.errors?.minlength">First name isn't long enough, minimum of 3 character</span>
    <span class="error" *ngIf="(firstName.dirty || firstName.touched) && firstName.errors?.required">First Name is required</span>
  </div>
  <div class="form-group">
    <label for="lastName" class="color" >Last Name</label>
    <input  type="text" name="lastName" [formControl]="lastName" class="form-control" id="lastName">
    <span class="error" *ngIf="(lastName.dirty || lastName.touched) && lastName.errors?.minlength">Last name isn't long enough, minimum of 3 character</span>
    <span class="error" *ngIf="(lastName.dirty || lastName.touched) && lastName.errors?.required">Last Name is required</span>
  </div>
  <div class="form-group">
    <label for="email1" class="color">Email Id:</label>
    <input type="email" [formControl]="email1" name="email1" class="form-control" id="email1">
    <span class="error" *ngIf="(email1.dirty || email1.touched) && email1.errors?.required">Email Id is required</span>
    <span class="error" *ngIf="(email1.dirty || email1.touched) && email1.errors?.pattern">Enter a valid email address</span>
  </div>
  <div  class="form-group">
    <label for="mobileNumber" class="color">Phone Number</label>
    <input [formControl]="mobileNumber" type="text" name="mobileNumber" class="form-control" id="mobileNumber">
    <span class="error" *ngIf="(mobileNumber.dirty || mobileNumber.touched) && mobileNumber.errors?.required">Phone number is required</span>
    <span class="error" *ngIf="(mobileNumber.dirty || mobileNumber.touched) && mobileNumber.errors?.pattern">Phone number isn't long enough</span>
  </div>
  <div  class="form-group">
    <label for="UserName" class="color">User Name</label>
    <input [formControl]="UserName" type="text" name="UserName" class="form-control" id="User Name">
    <span class="error" *ngIf="(UserName.dirty || UserName.touched) && UserName.errors?.required">User Name is required</span>
    <span class="error" *ngIf="(UserName.dirty || UserName.touched) && UserName.errors?.minlength">User Name isn't long enough, minimum of 6 character</span>
  </div>
  <div class="form-group">
    <label for="password1" class="color">Password</label>
    <input [formControl]="password1" type="password" name="password1" class="form-control" id="password1">
    <span class="error" *ngIf="(password1.dirty || password1.touched) && password1.errors?.required">Password is required</span>
    <span class="error" *ngIf="(password1.dirty || password1.touched) && password1.errors?.minlength">Password isn't long enough, minimum of 6 character</span>
  </div>
  <div class="form-group">
    <label for="password2" class="color">Confirm Password</label>
    <input [formControl]="password2" type="password" name="password2" class="form-control" id="password2">
    <span class="error" *ngIf="(password2.dirty || password2.touched) && password2.errors?.required">Confirm password is required.</span>
    <span class="error" *ngIf="password2.valid && password2.value != password1.value">Password and Confirm Password must be match</span>
  </div>
  <div class="btnCenter">
    <button type="submit" (click)="submitForm2()" class="btn btn-submit btnWidth button" [disabled]="!signUpForm.valid || password2.value != password1.value"> Sign Up </button>
  </div>
</div>
